body {
  background-color: white;
  font-family: "Lato", sans-serif;
  text-align: justify;
  color: #292929;
}
header {
  text-align: center;
  background-size: cover;
  color: black;
}

footer {
  text-align: center;
  padding: 0px;
  bottom: 0px;
  width: 100%;
  padding-bottom: 10px;
  border-top: 3px solid #00008b0d;
  padding-top: 24px;
  background-color: #ffffff7a;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: darkblue;
  padding: 0px 10px 0px 10 px;
}

a:hover {
  text-decoration: underline;
}
.footer-love em{
  font-style: normal;
  color: #840f0f;
}

h1 {
  font-size: 40px;
}
h1 span {
  font-size: 20px;
  display: block;
}
h2 {
  text-align: left;
  color: #292929;
}

img {
  margin: 40px 0px 0px 0px;
  border: 7px;
}

ul {
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

li {
  display: inline;
  padding: 0px 10px 0px 10px;
}

article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  h1 {
    font-size: 36px;
    padding: 5px;
  }
  li {
    padding: 5px;
    display: block;
  }
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  width: 80%;
  margin: 0 auto;
}

.slick-slider img {
  width: 100%;
}

.slick-next:before, .slick-prev:before {
  color: #840f0f;
}
